@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300px;
    color: #fafafa;
    background-color: #232323;
}

h1, h2 {
    font-family: Bitter;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
}

#logo {
    float: left;
    font-size: 310%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fafafa;
}

.active {
    border-bottom: 1px solid #fafafa;
}


#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/Busby-babes-hero-image-3.jpeg') no-repeat center center;
}

#overview {
    height: 800px;
    text-align: center;
}

#overview-left-1 {
    padding-top: 30px;
    width: 50%;
    float: left;
    background-color: blue;
}

#overview-image-1 {
    padding-top: 30px;
    width: 50%;
    float: right;
    background-color: aqua;
}

#overview-right {
    padding-top: 30px;
    width: 50%;
    float: left;
    background-color: chartreuse;
}

#overview-image-2 {
    padding-top: 30px;
    width: 50%;
    float: right;
    background-color: darkorange;
}

#overview-left-2 {
    padding-top: 30px;
    width: 50%;
    float: left;
    background-color: hotpink;
}

#overview-image-3 {
    padding-top: 30px;
    width: 50%;
    float: right;
    background-color: darkred;
}